@font-face {
    font-family: "ALS";
    src: url(../fonts/ALSSchlangesans.woff);
    font-weight: normal;
}

@font-face {
    font-family: "ALS";
    src: url(../fonts/ALSSchlangesans-Bold.woff);
    font-weight: bold;
}
